.form-wrapper {
  min-height: 150px;
  margin-top: 20px;
  padding: 10px 5px;
}

.form {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 600px;
  padding-top: 5px;

  .input_author {
    flex: 1 1 auto;
  }

  .input_body {
    flex: 3 1 auto;
    height: 70px;
    resize: none;

    &:required:invalid ~ .submit {
      @include disabled
    }
  }

  .submit {
    cursor: pointer;
  }

  &#{&}_main {
    max-width: 800px;

    .input, .submit {
      font-size: 17px;
    }

    .input_body {
      height: 100px;
    }

    .status {
      margin-top: 10px;
    }
  }
}

