.form-wrapper {
  min-height: 150px;
  margin-top: 20px;
  padding: 10px 5px;

  .status-holder {
    margin-top: 10px;
    text-align: center;
  }
}

.form {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;

  .input_author {
    flex: 1 1 auto;
  }

  .textarea_msg {
    flex: 3 1 auto;
    resize: none;
  }

  .submit {
    cursor: pointer;
  }

  &#{&}_main {
    .input, .submit {
      font-size: 17px;
    }

    .textarea_msg {
      height: 100px;
    }
  }
}

