.status {
  transition: opacity 1s linear;
  font-style: italic;
  color: gray;

  &#{&}_sus {
    color: green;
  }

  &#{&}_upd {
    color: blue;
  }

  &#{&}_err {
    color: red;
  }

  &:empty {
    display: none;
  }
}
