@import "mixins";
@import "form";
@import "status";

:root {
    --color-new: #04a400;
    --color-update: #0077ff;
    --color-error: #f00;

}

button {
    border-radius: revert;
}

body {
    min-width: 600px;
    margin: 0;
    padding: 15px;
}

article > h1:first-child {
    margin-top: 0;
}

.comment {
    border: 1px hsl(0, 0%, 80%) solid;
    padding: 10px;

    /*&:hover {
        position: relative;
        border-color: hsl(0, 0%, 0%);
    }*/

    & &__inner {
        display: grid;
        grid-template-columns: max-content max-content max-content 1fr min-content;
        grid-template-areas:
        "id author time time time"
        "body body body body edit"
        "details details details details details"
        "status status status edited-status edited-status";
        row-gap: 5px;
        column-gap: 15px;
        margin: -10px;
        padding: 10px 10px 0 10px;
        outline: 1px transparent solid;
        transition: all .5s linear;

        &_new {
            outline-color: var(--color-new);
            box-shadow: inset var(--color-new) 0 0 3px 3px;
        }

        &_updated {
            outline-color: var(--color-update);
            box-shadow: inset var(--color-update) 0 0 3px 3px;
        }

        &_error {
            outline-color: var(--color-error);
            box-shadow: inset var(--color-error) 0 0 3px 3px;
        }
    }

    ~ .comment {
        margin-top: -1px;
    }

    [class*="icon-"] {
        opacity: .5;
    }

    & &__id-holder {
        grid-area: id;
        align-self: start;
        font-size: .8em;
        opacity: .5;
    }

    & &__author-holder {
        grid-area: author;
    }

    & &__time-holder {
        grid-area: time;
        font-style: italic;
    }

    & &__form-edit {
        display: contents;

        &_editing {
            ~ .comment__details {
                @include disabled
            }

            .comment__body {
                display: none;
            }

            .comment__input-edit, .comment__btn-update {
                display: initial;
            }

            .comment__btn-edit {
                .icon-cross {
                    display: initial;
                }

                .icon-pencil {
                    display: none;
                }
            }
        }
    }

    & &__body-holder {
        grid-area: body;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 7px 5px;
        background-color: hsla(0, 0%, 0%, .05);
        border-radius: 5px;
    }

    .comment__body {
        flex: 1 1 auto;
    }

    .comment__input-edit {
        display: none;
        width: 100%;
        resize: none;

        &:required:invalid ~ .comment__btn-update {
            @include disabled
        }
    }

    .comment__btn-update {
        display: none;
        cursor: pointer;
    }

    & &__btn-edit-holder {
        grid-area: edit;
    }

    & &__btn-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        cursor: pointer;

        .icon-cross {
            display: none;
        }
    }

    & &__details {
        grid-area: details;
        margin-bottom: 5px;

        &[open] {
            .comment__details-summary-title_opened {
                display: initial;
            }

            .comment__details-summary-title_closed {
                display: none;
            }
        }
    }

    & &__details-summary {
        width: fit-content;
        cursor: pointer;
        font-size: .9em;
    }

    & &__details-summary-title_opened {
        display: none;
    }

    .status {
        grid-area: status;
        align-self: center;
    }

    .comment__edited-status {
        grid-area: edited-status;
        justify-self: end;
        align-self: center;
        font-size: 0.9em;
        font-style: italic;
        color: hsl(0, 0%, 50%);
    }

    & &__slot {
        > .comment:first-child {
            margin-top: 15px;
        }

        &:empty {
            display: none;
        }
    }
}