@import "mixins";
@import "form";
@import "status";
@import "btn";

:root {
    --color-new: #04a400;
    --color-update: #0077ff;
    --color-error: #f00;
}

button {
    border-radius: revert;
}

body {
    min-width: 600px;
    margin: 0;
    padding: 15px;
}

article > h1:first-child {
    margin-top: 0;
}

#comments > .status {
    text-align: center;
}

.comment {
    padding: 10px;
    border: 1px hsl(0, 0%, 80%) solid;

    & &__inner {
        display: grid;
        grid-template-columns: max-content max-content max-content 1fr max-content min-content;
        grid-template-areas:
        "id author time time time time"
        "body body body body body edit"
        "reply reply reply reply btn-reply ."
        "edited-status edited-status edited-status edited-status edited-status edited-status";
        row-gap: 5px;
        column-gap: 15px;
        margin: -10px;
        padding: 10px 10px 0 10px;
        outline: 1px transparent solid;
        transition: all .5s linear;

        &_new {
            outline-color: var(--color-new);
            box-shadow: inset var(--color-new) 0 0 3px 3px;
        }

        &_updated {
            outline-color: var(--color-update);
            box-shadow: inset var(--color-update) 0 0 3px 3px;
        }

        &_error {
            outline-color: var(--color-error);
            box-shadow: inset var(--color-error) 0 0 3px 3px;
        }
    }

    ~ .comment {
        margin-top: -1px;
    }

    [class*="icon-"] {
        opacity: .5;
    }

    //primary
    & &__id-holder {
        grid-area: id;
        align-self: start;
        font-size: .8em;
        opacity: .5;
    }

    & &__author-holder {
        grid-area: author;
    }

    & &__time-holder {
        grid-area: time;
        font-style: italic;
    }

    & &__body-holder {
        grid-area: body;
        position: relative;
        display: flex;
        gap: 10px;
        min-height: 0;
        padding: 9px 7px;
        background-color: hsla(0, 0%, 0%, .05);
        border-radius: 5px;
        transition: min-height .5s linear;
    }

    & &__body {
        border: 1px transparent solid;
        transition: opacity .5s linear;
    }

    //update
    & &__form-edit {
        display: contents;

        &_editing {
            .comment__body-holder {
                min-height: 66px;
            }

            .comment__body {
                opacity: 0;
            }

            .comment__update-wrapper {
                pointer-events: auto;
                opacity: 1;
            }

            .comment__btn-edit {
                .icon-cross {
                    display: initial;
                }

                .icon-pencil {
                    display: none;
                }
            }
        }
    }

    & &__update-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        gap: 10px;
        padding: inherit;
        opacity: 0;
        transition: opacity .5s linear;
        pointer-events: none;
    }

    & &__textarea-edit {
        flex: 1 0 auto;
        padding: 0;
        resize: none;
        line-height: 24px;
    }

    & &__btn-update {
        align-self: start;
    }

    & &__btn-edit-holder {
        grid-area: edit;
    }

    & &__btn-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;

        .icon-cross {
            display: none;
        }
    }

    //reply
    & &__btn-reply {
        grid-area: btn-reply;
        justify-self: end;
        align-self: start;

        .btn__content_state_expanded {
            display: none;
        }

        @at-root {
            .comment .comment__inner_expanded .comment__btn-reply {

                .btn__content_state_expanded {
                    display: initial;
                }

                .btn__content_state_default {
                    display: none;
                }
            }
        }
    }

    & &__form-reply-holder {
        grid-area: reply;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: all .5s linear;

        > .form {
            flex: 1 0 auto;

            .textarea_msg {
                align-self: stretch;
            }
        }

        @at-root {
            .comment .comment__inner_expanded .comment__form-reply-holder {
                height: 100px;
                opacity: 1;
            }
        }
    }

    //status
    .status-holder {
        grid-area: reply;
        align-self: end;
    }

    .comment__inner_limited .status-holder {
        grid-area: edited-status;
    }

    .comment__edited-status {
        grid-area: edited-status;
        justify-self: end;
        align-self: center;
        display: flex;
        align-items: end;
        overflow: hidden;
        height: 24px;
        font-size: 0.9em;
        font-style: italic;
        font-variant-numeric: tabular-nums;
        color: hsl(0, 0%, 50%);
        font-weight: 300;
        transition: height .5s linear;

        &:empty {
            height: 0;
        }
    }

    & &__child {
        > .comment:first-child {
            margin-top: 15px;
        }

        &:empty {
            display: none;
        }
    }
}