.form-wrapper {
  min-height: 150px;
  margin-top: 20px;
  padding: 10px 5px;
}
.form-wrapper .status-holder {
  margin-top: 10px;
  text-align: center;
}

.form {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}
.form .input_author {
  flex: 1 1 auto;
}
.form .textarea_msg {
  flex: 3 1 auto;
  resize: none;
}
.form.form_main .input, .form.form_main .submit {
  font-size: 17px;
}
.form.form_main .textarea_msg {
  height: 100px;
}

.status {
  transition: opacity 1s linear;
  font-style: italic;
  color: gray;
}
.status.status_sus {
  color: green;
}
.status.status_upd {
  color: blue;
}
.status.status_err {
  color: red;
}
.status:empty {
  display: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 30px;
  min-width: 32px;
  cursor: pointer;
}
.btn[disabled] {
  cursor: default;
}
.btn .btn__content {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  gap: inherit;
}
.btn .icon-cross {
  font-size: 0.8em;
}

:root {
  --color-new: #04a400;
  --color-update: #0077ff;
  --color-error: #f00;
}

button {
  border-radius: revert;
}

body {
  min-width: 600px;
  margin: 0;
  padding: 15px;
}

article > h1:first-child {
  margin-top: 0;
}

#comments > .status {
  text-align: center;
}

.comment {
  padding: 10px;
  border: 1px #cccccc solid;
}
.comment .comment__inner {
  display: grid;
  grid-template-columns: max-content max-content max-content 1fr max-content min-content;
  grid-template-areas: "id author time time time time" "body body body body body edit" "reply reply reply reply btn-reply ." "edited-status edited-status edited-status edited-status edited-status edited-status";
  row-gap: 5px;
  column-gap: 15px;
  margin: -10px;
  padding: 10px 10px 0 10px;
  outline: 1px transparent solid;
  transition: all 0.5s linear;
}
.comment .comment__inner_new {
  outline-color: var(--color-new);
  box-shadow: inset var(--color-new) 0 0 3px 3px;
}
.comment .comment__inner_updated {
  outline-color: var(--color-update);
  box-shadow: inset var(--color-update) 0 0 3px 3px;
}
.comment .comment__inner_error {
  outline-color: var(--color-error);
  box-shadow: inset var(--color-error) 0 0 3px 3px;
}
.comment ~ .comment {
  margin-top: -1px;
}
.comment [class*=icon-] {
  opacity: 0.5;
}
.comment .comment__id-holder {
  grid-area: id;
  align-self: start;
  font-size: 0.8em;
  opacity: 0.5;
}
.comment .comment__author-holder {
  grid-area: author;
}
.comment .comment__time-holder {
  grid-area: time;
  font-style: italic;
}
.comment .comment__body-holder {
  grid-area: body;
  position: relative;
  display: flex;
  gap: 10px;
  min-height: 0;
  padding: 9px 7px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  transition: min-height 0.5s linear;
}
.comment .comment__body {
  border: 1px transparent solid;
  transition: opacity 0.5s linear;
}
.comment .comment__form-edit {
  display: contents;
}
.comment .comment__form-edit_editing .comment__body-holder {
  min-height: 66px;
}
.comment .comment__form-edit_editing .comment__body {
  opacity: 0;
}
.comment .comment__form-edit_editing .comment__update-wrapper {
  pointer-events: auto;
  opacity: 1;
}
.comment .comment__form-edit_editing .comment__btn-edit .icon-cross {
  display: initial;
}
.comment .comment__form-edit_editing .comment__btn-edit .icon-pencil {
  display: none;
}
.comment .comment__update-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 10px;
  padding: inherit;
  opacity: 0;
  transition: opacity 0.5s linear;
  pointer-events: none;
}
.comment .comment__textarea-edit {
  flex: 1 0 auto;
  padding: 0;
  resize: none;
  line-height: 24px;
}
.comment .comment__btn-update {
  align-self: start;
}
.comment .comment__btn-edit-holder {
  grid-area: edit;
}
.comment .comment__btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.comment .comment__btn-edit .icon-cross {
  display: none;
}
.comment .comment__btn-reply {
  grid-area: btn-reply;
  justify-self: end;
  align-self: start;
}
.comment .comment__btn-reply .btn__content_state_expanded {
  display: none;
}
.comment .comment__inner_expanded .comment__btn-reply .btn__content_state_expanded {
  display: initial;
}
.comment .comment__inner_expanded .comment__btn-reply .btn__content_state_default {
  display: none;
}

.comment .comment__form-reply-holder {
  grid-area: reply;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.5s linear;
}
.comment .comment__form-reply-holder > .form {
  flex: 1 0 auto;
}
.comment .comment__form-reply-holder > .form .textarea_msg {
  align-self: stretch;
}
.comment .comment__inner_expanded .comment__form-reply-holder {
  height: 100px;
  opacity: 1;
}

.comment .status-holder {
  grid-area: reply;
  align-self: end;
}
.comment .comment__inner_limited .status-holder {
  grid-area: edited-status;
}
.comment .comment__edited-status {
  grid-area: edited-status;
  justify-self: end;
  align-self: center;
  display: flex;
  align-items: end;
  overflow: hidden;
  height: 24px;
  font-size: 0.9em;
  font-style: italic;
  font-variant-numeric: tabular-nums;
  color: gray;
  font-weight: 300;
  transition: height 0.5s linear;
}
.comment .comment__edited-status:empty {
  height: 0;
}
.comment .comment__child > .comment:first-child {
  margin-top: 15px;
}
.comment .comment__child:empty {
  display: none;
}

/*# sourceMappingURL=style.css.map */
